[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
imap-tools = "*"
tomli_w = "*"
sqlalchemy = "*"
mergedeep = "*"

[dev-packages]
pipenv = "*"
black = {version = "*", extras = ["d"]}
pytest = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
