[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
imap-tools = "*"
tomli_w = "*"
sqlalchemy = "*"
mergedeep = "*"
pytimeparse = "*"
flask = "*"
bs4 = "*"
setuptools-scm = "*"

[dev-packages]
build = "*"
pipenv = "*"
black = {version = "*", extras = ["d"]}
pytest = "*"
setuptools-pipfile = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
