{% extends "base.html" %}

{% block title %} {{ config.get("course_name") }} {% endblock %}

{% block main %}
<div class="text-center form-control-general">
    <h1 class="h3 mb-3 fw-normal">{{ config.get("course_name") }} Progress Check</h1>
    <div class="row justify-content-center">
        <div class="col">
            <label for="cookie_textarea"></label><textarea id="cookie_textarea" placeholder="Type your cookie here"></textarea>
        </div>
        <div class="col">
            <a target="_blank" href="status" class="btn bg-success">Status check</a>
        </div>
        <div class="col">
            <button class="btn bg-purple" id="cookie-button" type="button">Set cookie</button>
        </div>
        <script>
            $(function () {
                let cookie_textarea = $("#cookie_textarea");
                let cookie_button = $("#cookie-button");

                function change_super_secret_cookie(event) {
                    if (event.which === 13) {
                        if (!event.repeat) {
                            document.cookie = "secret_cookie=" + cookie_textarea.val() + ";";
                            window.location.reload();
                        }
                        event.preventDefault(); // Prevents the addition of a new line in the text field
                    }
                }

                cookie_textarea.on("keydown", change_super_secret_cookie);
                cookie_button.on("click", change_super_secret_cookie);
            });
        </script>
    </div>
    <div class="my_fit overflow-scroll big-table">
        {{ table|safe }}
    </div>
    <script>
        $(function () {
            $("table").dataTable({
                "paging": false,
                "searching": false,
                "info": false,
            });
        });
    </script>
    {% if request.cookies.get("secret_cookie","") == config.get("secret_cookie") %}
    <form action="info" method="POST" target="_blank" id="data_form" hidden>
        <input id="form_username" name="username" type="text"/>
        <input id="form_taskname" name="taskname" type="text"/>
        <input name="form_submit" type="submit"/>
    </form>
    <input hidden id="skip_prefix" type="number" value="{% if skip_prefix is defined %}{{ skip_prefix }}{% else %}1{% endif %}"/>
    <input hidden id="skip_suffix" type="number" value="{% if skip_suffix is defined %}{{ skip_suffix }}{% else %}0{% endif %}"/>
    <input hidden id="homework_names" value="{% if homework_names is defined %}{{ homework_names }}{% else %}{% endif %}"/>
    <script>
        $(function () {
            $("tbody > tr > td").on("click", function (e) {
                const homework_names = $("#homework_names").val().split(",");
                const skip_prefix = $("#skip_prefix").val();
                const skip_suffix = $("#skip_suffix").val();

                let username = $(e.currentTarget).parent().children()[0].innerText.replaceAll(" ", " ");
                let col_index = $(e.currentTarget).index($(e.currentTarget).innerText);
                let total_cols = $(e.currentTarget).parent().children().length;

                const one_task_columns = Math.floor((total_cols - skip_prefix - skip_suffix) / homework_names.length)

                // console.log(total_cols);
                // console.log(col_index);
                if (col_index > skip_prefix - 1 && col_index < total_cols - skip_suffix) {
                    let hw_name_index = Math.floor((col_index - skip_prefix) / one_task_columns)
                    $("#form_username").val(username);
                    $("#form_taskname").val(homework_names[hw_name_index]);
                    $("#data_form").trigger("submit");
                }
            });
        });
    </script>
    {% endif %}
    <form action="student/" method="POST" target="_blank" id="student_form" hidden></form>
    <script>
        $(function () {
            $("tbody > tr > td:first-child").on("click", function (e) {
                let username = e.currentTarget.innerText.replaceAll(" ", " ");
                console.log(username);

                const student_form = $("#student_form");
                student_form.attr("action", "student/"+username);
                student_form.trigger("submit");
            });
        });
    </script>


    <h6 id="update-time"></h6>
</div>
{% endblock %}
