{% extends "base.html" %}

{% block title %}Status check{% endblock %}

{% block main %}
<div class="text-center form-control-general">
    <h1 class="h3 mb-3 fw-normal">{{ config.get("course_name") }} Status check</h1>
    <div>
        <h5>Current time is : {{ current_time }}</h5>
    </div>

    <div>{{ table|safe }}</div>
    <script>
        $(function () {
            $("table").dataTable({
                "paging": false,
                "searching": false,
                "info": false,
                scrollX: true,
                order: [[1, 'asc']]
            });
        });
    </script>

</div>
{% endblock %}