name: Release and wheel upload
run-name: ${{ github.actor }} creating a release

on:
  push:
    tags:
      - "*.*"
      - "*.*.*"

jobs:
  tests:
    uses: ./.github/workflows/tests.yaml
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.12"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip build
      - name: Build distributions
        run: python -m build -w
      - name: Upload wheels to action
        uses: actions/upload-artifact@v4
        with:
          #          name: ${{ matrix.python-version }} wheel
          path: dist/*.whl
      - name: Create release
        uses: ncipollo/release-action@v1.12.0
        with:
          artifacts: "dist/*"
          draft: true
#        bodyFile: "body.md"

